<tui-loader
	class="inline-flex tui-space_right-2"
	[showLoader]="(isSubmitting$ | async) || false"
	[overlay]="true"
	[size]="'xxl'"
>
	<div class="tui-container tui-container_adaptive">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="tui-row">
			<div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-8 tui-col-offset_lg-2">
				<h3 class="tui-form__header tui-form__header_margin-top_none">
					Log in
				</h3>
				<a routerLink="/register">Need an account?</a>
				<ng-container *ngIf="backendErrors$ | async as backendErrors">
					<rw-backend-error-messages [backendErrors]="backendErrors"></rw-backend-error-messages>
				</ng-container>
				<div class="tui-form__row">
					<tui-input
						formControlName="email"
					>
						Email<span class="tui-required"></span>
					</tui-input>
					<tui-field-error
						formControlName="email"
					></tui-field-error>
				</div>
				<div class="tui-form__row">
					<tui-input
						formControlName="password"
					>
						Password<span class="tui-required"></span>
					</tui-input>
					<tui-field-error
						formControlName="password"
					></tui-field-error>
				</div>
				<div class="tui-form__buttons">
					<button
						tuiButton
						class="tui-form__button"
						size="l"
						type="submit"
						[disabled]="loginForm.invalid || loginForm.untouched || (isSubmitting$ | async)!"
					>
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
</tui-loader>

