<div class="banner tui-space_top-6">
	<rw-banner>
		<h1 class="tui-text_h1 tui-space_bottom-0">
			conduit
		</h1>
		<p class="tui-text_body-l tui-space_bottom-8">
			A place to share your knowledge.
		</p>
	</rw-banner>
</div>
<div class="tui-container tui-container_adaptive">
	<div class="tui-row tui-row_adaptive tui-space_top-12">
		<div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-9">
			feed toggle
			<rw-feed [feedUrl]="feedUrl"></rw-feed>
		</div>
		<div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-3">
			tag list
		</div>
	</div>
</div>

