<tui-loader
	[showLoader]="(isSubmitting$ | async) || false"
	[overlay]="true"
	[size]="'xxl'"
>
	<ng-container *tuiLet="articles$ | async as data">
		<div *ngFor="let article of data?.articles" class="">
			<div class="divider tui-space_bottom-4"></div>
			<rw-article class="" *ngIf="article" [article]="article"></rw-article>
		</div>
		<ng-container *tuiLet="pageCount$ | async as pageCount">
			<rw-pagination
				*ngIf="pageCount"
				[pageCount]="pageCount!"
				[currentPage]="(currentPageIndex$ | async)!"
				(indexChange)="onIndexChange($event)"
			></rw-pagination>
		</ng-container>
	</ng-container>
</tui-loader>
